.team-container {
    display: flex;
    align-items: start;
    gap: .25rem;
    overflow-x: auto;
}

.team-container .team-image {
    max-width: 252.8px;
}

.team-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.team-player h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-title-container {
    

}
